# Building.
setuptools

# Linting.
flake8

# Type Checking.
mypy
types-requests
types-Markdown

# Formatting.
isort

# TLS test certificates.
trustme

# Testing.
pytest
pytest-timeout

# Publishing.
twine
